**/databases
**/tmp
**/logs
**/temp
**/certs
**/*.wget*
**/*.pid
**/*.sock
**/*.bak
lib/python*
lib/flutter
lib/nodejs
lib/nvm/*/
lib/go*
var/vendor
var/composer.lock
phpMyAdmin
var/www/adminer/themes/backup
.idea
extra.*.conf
lib/apache*
*.cache
adminer.css
adminer.json
