lib/mariadb/databases*
**/tmp
**/logs
!.gitignore
**/temp
**/certs
**/*.wget*
**/*.pid
**/*.sock
**/*.bak
lib/python*
lib/flutter
lib/nodejs
lib/nvm/*/
lib/go*
var/vendor
var/composer.lock
phpMyAdmin
var/www/adminer/themes/backup
var/www/**/*.db
.idea
.vscode
extra.*.conf
lib/apache*
*.cache
adminer.css
adminer.json
websdk-tray.json
lib/nvm/*.log
lib/pgs*/
/etc/.*
lib/laravel



# dev versions tests and sql exports
*.sql.gz
lib/php/[5-9].[0-9].*/
