.ts-wrapper .ts-control {
    border-radius: 0;
    cursor: pointer !important;
    padding: 4px 32px 4px 4px;
    min-height: 30px;
    background-position: right .25rem center !important;
    background-repeat: no-repeat !important;
    background-size: 15px 10px !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
}

.ts-wrapper .ts-control input {
    border: 1px solid transparent !important;
    padding: 0 !important;
    height: auto !important;
}

.ts-wrapper.plugin-dropdown_input.dropdown-active .ts-control input {
    max-width: initial !important;
}

.ts-dropdown [data-selectable] .highlight {
    font-size: inherit !important;
}

[data-bs-theme="dark"] .ts-wrapper .ts-control,
.dark .ts-wrapper .ts-control {
    background-color: #212529 !important;
    color: #fff !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='none' stroke='%23cbc5bf' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E") !important;
}

